.product {
	height: 14rem;
	width: fit-content;
	border: 1px solid rgb(231, 231, 231);
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--neutral);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.product img {
	height: 6rem;
	width: auto;
}

.product .text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.product .icon {
	color: var(--main-color);
}

.cart-buttons {
	width: 6rem;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	border: 1px solid rgb(231, 231, 231);
	border-radius: 0.5rem;
}
