:root {
	--heading-font: "Fjalla One", sans-serif;
	--body-font: "Open Sans", sans-serif;

	--neutral-color: #fff;
	--main-color: #011638;
	--secondary-color: #26a6a6;

	--body-text-size: 0.8rem;
	--heading-text-size: 1.8rem;

	--box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-family: var(--heading-font);
	letter-spacing: -2px;
	color: var(--main-color);
}

h2 {
	font-family: var(--heading-font);
	letter-spacing: -1px;
	color: var(--main-color);
}

p,
a {
	font-family: var(--body-font);
	font-size: var(--body-text-size);
}

a {
	text-decoration: none;
}

.content {
	margin-top: 3.5rem;
}

.icon-dark {
	color: var(--main-color);
}

.icon-light {
	color: var(--neutral-color);
}

.icon {
	cursor: pointer;
}
